<html>
<head>
<title>Flask Home</title>
</head>
<body>
    <h2>Hi, Welcome to the Food Database User Interface</h2>
    <a href="/view">Milestone 1: Click to view food groups</a><br><br>
    <a href="/viewfoodinfos">Milestone 2: Click to view and update some information about food</a><br><br>
    <a href="/viewfoodnutritioninfos">Milestone 3: Click to view nutrition and weight details about food</a><br><br>
    <footer>
    <p>Prepared by Mehmet Çalıkuş  150150042</p>
    </footer>
</body>
</html>